.project-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /* Adjust the gap between images as needed */
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
